services:
  postgres:
    image: postgres:15.2-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  liquibase:
    image: liquibase/liquibase:4.18.0
    container_name: liquibase
    volumes:
      - ./database/schema:/liquibase/changelog
    command: --url=jdbc:postgresql://postgres:5432/postgres --username=postgres --password=postgres --changeLogFile=db/changelog/changelog.xml update
    depends_on:
      - postgres